# Backend
NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://mongo:27017/jobdate
JWT_SECRET=changeme_use_a_long_random_string
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:4200

# Uploads
UPLOAD_DIR=./src/uploads
MAX_FILE_SIZE_MB=5

# Frontend (build-time, used in environment.ts)
API_URL=http://localhost:3000/api
