# Environment
.env
.env.local

# Node
node_modules/
dist/
build/

# Angular
frontend/.angular/
frontend/dist/

# Uploads (runtime)
backend/src/uploads/*
!backend/src/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
